.App {
  text-align: center;
}
img {
  width: 100%;
  border: 4px solid goldenrod !important;
  object-fit: fill;
}
.adds {
  height: 450px;
  overflow: hidden;
  z-index: 20;
}
.adds img {
  /* margin-top: -25%; */
  height: 96%;
}
p {
  border-top: 1px dotted black;
  padding-top: 5px;
  line-height: 3rem;
  font-size: 1.8rem;
  text-align: start;
  color: #191b67;
}
.text-end {
  color: goldenrod;
}

